<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script type="text/javascript" src="../add_win.js"></script>
</head>
<body>
        <div class="main_wrapper">
            <form id="frm">
                <div class="f_element">
                        <label>ADD ITEM</label>
                        <input type="text" autofocus>
                </div>
                <button type="submit">add</button>
            </form>
        </div>
</body>
</html>