<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="style/index.css">
    <script type="text/javascript" src="main_win.js"></script>
    <title>TO_DO</title>
</head>
<body>
    <div class="main_wrapper">
        <header class="main_header">
            <h2>TO DO</h2>
        </header>
        <div class="to_dos">
            to dos will be listed here
        </div>
        <div class="foot">
            <input type="button" class="add_btn">
        </div>
    </div>
</body>
</html>